data/*/*/*.zdf
data/*/*/*.yaml

data/*/*/_imgs/*
!data/_wobj/
!data/_wobj/*/*.yaml

configs/_test
data/stitch_shed/_HD_saved
data/stitch_shed_original/_HD_saved
data/stitch_members/_HD_saved
data/stitch_members_P1/_HD_saved
data/stitch_members_P2/_HD_saved

data/stitch_ECL_demo/*/*.ply